<%- include("partials/header") %>


<h1>Landing page</h1>
<p>Welcome to yelp camp</p>

<a href="/campgrounds">View all Campgrounds</a>

<!-- <a href="/campgrounds/new">Add a new Campground</a> -->












<%- include("partials/footer") %>