<%- include("partials/header") %>


    <h1>Welcome to yelp camp</h1>
    <p>The world of camping ground</p>
    



<a href="/campgrounds">View all Campgrounds</a>

<!-- <a href="/campgrounds/new">Add a new Campground</a> -->












<%- include("partials/footer") %>